html, body {
	text-align: center;
}

div {
	width: 50vw;
	/* background-color: cyan; */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

button {
	width: 20px;
}

input {
	flex: 1;
}

h4, select {
	width: 100%;
	margin-bottom: 5px;
}
